#success_message{ display: none;}

/* navigation  */
.navigation-bar {
    text-align: center;
}

.logo {
    font-size: 45px;
    font-family: Roboto;
    color: black;
    font-weight: bold;
}

.feature-container {
    text-align: center;
}

.feature {
    color: #16003B;
    font-size: 20px;
}

.h-link {
    color: rgb(5, 5, 5);
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}